body{
    background-color: #24353F;
    font-family: sans-serif;
}
a{
    text-decoration:none !important;
}
.signup:hover{
    text-decoration:underline !important;
}
nav{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.login {
    background: rgba(36, 53, 63, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid #17a2b8;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.Welcome{
    margin: 200px 0;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important ;
}
h1{
    font-weight: 500;
    color: #17a2b8;
    font-size: 40px;
    line-height: 48px;
}
input{
    background-color:#24353F !important ;
}
input:focus{
    box-shadow: none !important;
}
input::placeholder{
    color: #B6B6B6 !important;
}
